<h3><%= @bar.name %></h3>
<h4><%= @bar.address %></h4>
<!-- put actual url name-->
<a href='#'>Visit My Webpage</a><br>
<br>

<table border='1'>
  <tr>
    <th>Check Ins</th>
    <td><%= @bar.checkinsCount %></td>
  </tr>
  <tr>
    <th>Unique User Checkins</th>
    <td><%= @bar.usersCount %></td>
  </tr>
  <tr>
    <th>Here Now</th>
    <td>0</td>
  </tr>
</table>



