<div class="jumbotron">
    <h1>BUSY BAR</h1>
      <%= form_tag(results_path) %>
    <div id='input'>
      <%= collection_select(Category, :bar, Category.all, :name, :name)%><br>
    </div>
      <%= submit_tag 'Find Bars!' %>
</div>


