
<div id="results">
  <div class="col-lg-4 results">
    <div class="bs-component">
    <h3>Busyiest Bars in your selected area</h3>
      <ol class="list-group list-title">
        <li class="list-group-item">Busyiest Bars in your selected area</li>
        <%= render @bars %>
      </ol>
    </div>
  </div>
</div>
