<div id="results" class="row">
  <div class="col-md-12">
      <table class="table table-hover table-bordered">
          <caption>Your search results</caption>
        <thead>
          <th>Name</th>
          <th>Check-Ins</th>
          <th>Rating</th>
        </thead>
        <%= render @bars %>
      </table>
  </div>
</div>

<div class="row" id="sort">
  <%= button_tag 'Sort by Rating', class: "btn" %>
</div>


