<div id="results">
  <div class="col-lg-4 results">
    <div class="bs-component">
      <table class="table table-hover table-bordered">
          <caption>Your search results</caption>
        <thead>
          <th>Name</th>
          <th>Check-Ins</th>
          <th>Rating</th>
        </thead>
        <%= render @bars %>
      </table>
    </div>
  </div>
</div>

<div id="sort">
  <%= button_tag 'Sort by Rating', class: "btn" %>
</div>


