// Place all the styles related to the barsearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#results, #alert,#sort{
  width: 50%;
  margin: 0 auto;
}

#title{
  margin: 0 auto;
}

#sort {
  text-align: center;
}

.btn {
  opacity: 0.9;
color: #000;
background-color: #aaa;
border-color: #46b8da;
}


/*
#Category_bar, #Location_near {
  font-size: 20px;
}

#button{
  width: 60%;
  margin: 0 auto;
  padding: 0;
}*/

body { 
  background-image: image-url('city.jpg'); 
}

.jumbotron {
font-family: 'Architects Daughter', cursive;
 opacity: 0.8;
 width: 500px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 100px;
 border-radius: 25px;
 background-image: image-url('background.jpg');
 z-index:1;
}


