// Place all the styles related to the barsearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#results, #alert, #sort{
  width: 50%;
  margin: 0 auto;
}

#title{
  margin: 0 auto;
}

#sort {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
opacity: 0.9;
color: #FFF;
background-color: #555;
border-radius: 15px !important;
font-family: 'Architects Daughter', cursive;
 &:hover{
  color: #46b8da !important;
  border-color: none !important;
 }
}



#Category_bar, #Location_near {
  font-family: 'Architects Daughter', cursive;
  font-size: 17px;
}

#button{
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

body { 
  background-image: image-url('city.jpg'); 
}

.jumbotron {
   font-family: 'Architects Daughter', cursive;
   opacity: 0.8;
   width: 500px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   border-radius: 25px;
   background-image: image-url('background.jpg');
   z-index:1;
}

caption {
  font-weight: bold;
  color: #000;
}

.container-fluid {
  background-color: #006666 !important;
}

.table-bordered {
  margin-top: 10px;
  background-color: #006666;
  opacity: 0.7;
  color: #FFF;
  thead {
    background-color: #000;
  }
  .data:hover {
    background-color: #000;
  }
}

.bar_name > a{
  color: #FFF !important;
  text-decoration: none !important;
}




