// Place all the styles related to the barsearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#results, #alert,#sort{
  width: 50%;
  margin: 0 auto;
}
/*.table :nth-child(even){
  background-color: #dcdcdc;
}
.table :nth-child(odd){
  background-color: #fff;
}
*/
#title{
  margin: 0 auto;
}

#sort {
  text-align: center;
}