<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to 'Home',root_path, class: "navbar-brand"%>
    <% if @id %>
      <%= link_to 'Back', :back, class: "navbar-brand"%>
    <% end %> 
    </div>
  </div> 
</div>   